### Results  - Hex

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_hex_pc.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'hex')
result_df = check_data_and_create_result_df(df, True)
df_tournament = create_tournament_df(df, list(result_df.index))

In [4]:
result_df[:6]

,wins,draws,defeats,score,win%,draws%,defeats%,no games
alphabeta4,232,0,23,232.0,90.980392,0.0,9.019608,255
alphabeta6,232,0,23,232.0,90.980392,0.0,9.019608,255
alphabeta10,228,0,23,228.0,90.836653,0.0,9.163347,251
alphabeta8,228,0,23,228.0,90.836653,0.0,9.163347,251
evaluatehex_strategy,225,0,45,225.0,83.333333,0.0,16.666667,270
mobility_strategy,120,0,135,120.0,47.058824,0.0,52.941176,255

In [5]:
df_tournament.iloc[:6,:6]

,alphabeta4,alphabeta6,alphabeta10,alphabeta8,evaluatehex_strategy,mobility_strategy
alphabeta4,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0,5-0-0
alphabeta6,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0,5-0-0
alphabeta10,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0,5-0-0
alphabeta8,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0,5-0-0
evaluatehex_strategy,0-0-5,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0
mobility_strategy,0-0-5,0-0-5,0-0-5,0-0-5,0-0-5,5-0-0

In [6]:
writer = pd.ExcelWriter('hex_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()