### Results  - Hive

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_hive_pc.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hive_results.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'hive')
result_df = check_data_and_create_result_df(df, True)
df_tournament = create_tournament_df(df, list(result_df.index))

In [4]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
greedyhive_strategy,48,42,1,2394.08,69.0,52.747253,46.153846,1.098901,91
evaluatehive_strategy,45,45,4,7753.87,67.5,47.872340,47.872340,4.255319,94
random_strategy,33,53,3,2071.77,59.5,37.078652,59.550562,3.370787,89
mobility_strategy_vs,20,62,8,6813.71,51.0,22.222222,68.888889,8.888889,90
mobility_strategy,0,89,4,4471.71,44.5,0.000000,95.698925,4.301075,93
alphabeta4,20,17,58,16232.78,28.5,21.052632,17.894737,61.052632,95

In [5]:
df_tournament.iloc[:6,:6]

,greedyhive_strategy,evaluatehive_strategy,random_strategy,mobility_strategy_vs,mobility_strategy,alphabeta4
greedyhive_strategy,0-4-1,0-5-0,1-4-0,2-3-0,0-5-0,5-0-0
evaluatehive_strategy,0-4-1,0-5-0,0-5-0,0-5-0,0-5-0,5-0-0
random_strategy,0-3-2,0-5-0,0-5-0,0-5-0,1-4-0,5-0-0
mobility_strategy_vs,0-5-0,0-0-5,0-4-0,0-5-0,0-5-0,5-0-0
mobility_strategy,0-5-0,0-5-0,0-5-0,0-5-0,0-5-0,0-5-0
alphabeta4,0-0-5,0-0-5,0-2-3,0-5-0,0-5-0,5-0-0

In [18]:
writer = pd.ExcelWriter('hive_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()

In [6]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
113,hive,mobility_strategy,mobility_strategy_vs,0,22025002,1040.219863
181,hive,alphabeta4,alphabeta4,1,22025002,1612.397125
255,hive,alphabeta4,mobility_strategy,0,22025003,3361.240698

In [ ]:
get_all_games_of_player(df, random_strategy)