### Results  - Othello

In [8]:
from data_processing import *

In [9]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_othello_pc.csv'
# FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results_param_test.csv'
FILE_PATH = '../finished_tests/prarameters_tests/fast_othello.csv'

In [10]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
result_df = check_data_and_create_result_df(df)
df_tournament = create_tournament_df(df, list(result_df.index))

In [11]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
3063,othello,mctsstrategies1000(random_strategy:mobility_st...,mctsrave2000,1,22025004,89.134062
5298,othello,mctsstrategy5000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy_vs),1,22025002,1994.752723
672,othello,mobility_strategy_vs,mobility_strategy,0,22025004,0.691148

In [12]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
mctsstrategy10000(mobility_strategy_vs),378,4,38,2613.32,380.0,90.000000,0.952381,9.047619,420
mctsstrategy10000(mapbaseothello_strategy),369,8,43,535.73,373.0,87.857143,1.904762,10.238095,420
mctsstrategy10000(mobility_strategy),356,2,62,1710.28,357.0,84.761905,0.476190,14.761905,420
mctsstrategy5000(mobility_strategy_vs),355,2,63,1332.53,356.0,84.523810,0.476190,15.000000,420
mctsstrategy5000(mapbaseothello_strategy),348,2,70,420.74,349.0,82.857143,0.476190,16.666667,420
mctsstrategy2000(mapbaseothello_strategy),338,8,74,393.96,342.0,80.476190,1.904762,17.619048,420

In [13]:
df_tournament.iloc[:6,:6]

,mctsstrategy10000(mobility_strategy_vs),mctsstrategy10000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy),mctsstrategy5000(mobility_strategy_vs),mctsstrategy5000(mapbaseothello_strategy),mctsstrategy2000(mapbaseothello_strategy)
mctsstrategy10000(mobility_strategy_vs),4-0-1,3-0-2,3-0-2,4-0-1,3-0-2,5-0-0
mctsstrategy10000(mapbaseothello_strategy),2-1-2,4-0-1,2-0-3,4-0-1,4-0-1,3-1-1
mctsstrategy10000(mobility_strategy),1-0-4,1-0-4,2-0-3,1-0-4,2-0-3,2-0-3
mctsstrategy5000(mobility_strategy_vs),2-0-3,2-1-2,2-0-3,2-0-3,2-0-3,3-0-2
mctsstrategy5000(mapbaseothello_strategy),2-0-3,0-1-4,2-0-3,2-0-3,1-0-4,1-0-4
mctsstrategy2000(mapbaseothello_strategy),1-1-3,0-0-5,3-0-2,1-0-4,0-0-5,2-0-3

In [15]:
writer = pd.ExcelWriter('othello_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()