### Results  - Othello

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_othello_pc.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
result_df = check_data_and_create_result_df(df)
df_tournament = create_tournament_df(df, list(result_df.index))

In [6]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
7076,othello,mctsstrategy2000(mapbaseothello_strategy),alphabeta8,1,22025001,1071.201663
2155,othello,mctsstrategy2000(mobility_strategy_vs),mctsrave5000,1,22025002,51880.532553
8433,othello,mctsstrategies1000(random_strategy:mobility_st...,mctsstrategy2000(mapbaseothello_strategy),2,22025004,4153.567569

In [4]:
result_df[:6]

,wins,draws,defeats,score,win%,draws%,defeats%,no games
mctsstrategy10000(mapbaseothello_strategy),369,0,51,369.0,87.857143,0.000000,12.142857,420
mctsstrategy5000(mapbaseothello_strategy),367,0,53,367.0,87.380952,0.000000,12.619048,420
mctsstrategy2000(mapbaseothello_strategy),346,0,74,346.0,82.380952,0.000000,17.619048,420
mctsstrategy10000(mobility_strategy_vs),344,1,75,344.5,81.904762,0.238095,17.857143,420
mctsstrategy10000(mobility_strategy),337,0,83,337.0,80.238095,0.000000,19.761905,420
mctsstrategy5000(mobility_strategy_vs),337,0,83,337.0,80.238095,0.000000,19.761905,420

In [5]:
df_tournament.iloc[:6,:6]

,mctsstrategy10000(mapbaseothello_strategy),mctsstrategy5000(mapbaseothello_strategy),mctsstrategy2000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy_vs),mctsstrategy10000(mobility_strategy),mctsstrategy5000(mobility_strategy_vs)
mctsstrategy10000(mapbaseothello_strategy),4-0-1,3-0-2,4-0-1,4-0-1,2-0-3,4-0-1
mctsstrategy5000(mapbaseothello_strategy),2-0-3,4-0-1,2-0-3,2-0-3,2-0-3,3-0-2
mctsstrategy2000(mapbaseothello_strategy),1-0-4,0-0-5,2-0-3,4-0-1,3-0-2,2-0-3
mctsstrategy10000(mobility_strategy_vs),2-0-3,2-0-3,3-0-2,5-0-0,3-0-2,3-0-2
mctsstrategy10000(mobility_strategy),1-0-4,1-0-4,1-0-4,3-0-2,3-0-2,2-0-3
mctsstrategy5000(mobility_strategy_vs),2-0-3,2-0-3,3-0-2,4-0-1,2-0-3,2-0-3

In [10]:
writer = pd.ExcelWriter('othello_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()