### Results  - Othello

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_othello_pc.csv'
# FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results_param_test.csv'
FILE_PATH = '../finished_tests/prarameters_tests/fast_othello.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
result_df = check_data_and_create_result_df(df)
df_tournament = create_tournament_df(df, list(result_df.index))

In [4]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
6918,othello,mapbaseothello_strategy,mctsstrategy10000(evaluateothello_strategy),2,22025003,23299.577359
1058,othello,greedyothello_strategy,mctsstrategy10000(greedyothello_strategy),2,22025005,822.007049
5012,othello,mcts5000,mcts5000,1,22025001,4883.545532

In [11]:
min(df[df["game_type"]=="othello"]["game_time"])

0.0008668899536132

In [18]:
sum(df[df["game_type"]=="othello"]["game_time"]>108000)

445

In [19]:
max(df[df["game_type"]=="othello"]["game_time"])

267671.8812892437

In [4]:
result_df[:6]

NameError: name 'result_df' is not defined

In [5]:
df_tournament.iloc[:6,:6]

NameError: name 'df_tournament' is not defined

In [6]:
writer = pd.ExcelWriter('fast_othello_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()

NameError: name 'result_df' is not defined