### Results  - Othello

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
XLSX_FILE_NAME = 'othello_results.xlsx'
# FILE_PATH = '../finished_tests/prarameters_tests/fast_othello.csv'
# FILE_PATH = '../finished_tests/final_tests.csv'
# FILE_PATH = '../finished_tests/copy_final_test_part2_0.1.csv'
FILE_PATH = '../finished_tests/final_tests_allOthello_partHex.csv'

In [3]:
# df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
# result_df = check_data_and_create_result_df(df) #FALSE
# df_tournament = create_tournament_df(df, list(result_df.index))

df, result_df, df_tournament = process_data(FILE_PATH, SEPARATHOR, 'othello')

Amount data before check: 261

ValueError: Different games player by first players

In [4]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')

In [8]:
df_d = df.drop_duplicates(subset=df.columns[1:5])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7293 entries, 0 to 7292
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                7293 non-null   int64
 1   game_type            7293 non-null   object
 2   player1              7293 non-null   object
 3   player2              7293 non-null   object
 4   winner               7293 non-null   int64
 5   seed                 7293 non-null   int64
 6   game_time            7293 non-null   float64
 7   other                7293 non-null   object
 8   score_result         7293 non-null   object
 9   no_moves_p1          7293 non-null   object
 10  no_moves_p2          7293 non-null   object
 11  no_blocked_moves_p1  7293 non-null   object
 12  no_blocked_moves_p2  7293 non-null   object
 13  move_income_p1       7293 non-null   object
 14  move_income_p2       7293 non-null   object
 15  board_scores         7293 non-null   object
 16  switching_stats_p1   1200 non-null   object
 17  switching_stats_p2   1200 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 1.0+ MB

In [9]:
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7293 entries, 0 to 7292
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                7293 non-null   int64
 1   game_type            7293 non-null   object
 2   player1              7293 non-null   object
 3   player2              7293 non-null   object
 4   winner               7293 non-null   int64
 5   seed                 7293 non-null   int64
 6   game_time            7293 non-null   float64
 7   other                7293 non-null   object
 8   score_result         7293 non-null   object
 9   no_moves_p1          7293 non-null   object
 10  no_moves_p2          7293 non-null   object
 11  no_blocked_moves_p1  7293 non-null   object
 12  no_blocked_moves_p2  7293 non-null   object
 13  move_income_p1       7293 non-null   object
 14  move_income_p2       7293 non-null   object
 15  board_scores         7293 non-null   object
 16  switching_stats_p1   1200 non-null   object
 17  switching_stats_p2   1200 non-null   object
dtypes: float64(1), int64(3), object(14)
memory usage: 1.1+ MB

In [11]:
len(df_d)

7293

In [10]:
check_number_players_games(df_d)

ValueError: Different games player by first players

In [4]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time,other
538,othello,mctsrave10000,random_strategy,1,22020119,115.738856,"((52, 12), (31, 29), (0, 1), ([2, 2, 2, 2, 2, ..."
174,othello,mctsstrategy10000(mobility_strategy_vs),mctsstrategy10000(mapbaseothello_strategy),2,22020115,1474.788429,"((18, 46), (30, 30), (0, 0), ([2, 2, 3, 2, 2, ..."
331,othello,mctsstrategy10000(mobility_strategy),mctsstrategies10000(random_strategy:mobility_s...,1,22020117,1341.493073,"((46, 18), (31, 29), (0, 1), ([2, 2, 2, 3, 2, ..."

In [5]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
mctsstrategies10000(mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy),198,3,39,1037.22,199.5,82.500000,1.250000,16.250000,240
mctsstrategy10000(mobility_strategy_vs),192,3,45,2351.40,193.5,80.000000,1.250000,18.750000,240
mctsstrategy10000(mapbaseothello_strategy),191,3,46,503.00,192.5,79.583333,1.250000,19.166667,240
mctsstrategy10000(mobility_strategy),174,4,62,1236.28,176.0,72.500000,1.666667,25.833333,240
mctsstrategies10000(random_strategy:mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy:greedyothello_strategy:evaluateothello_strategy),164,5,71,969.23,166.5,68.333333,2.083333,29.583333,240
mcts10000,136,0,104,456.70,136.0,56.666667,0.000000,43.333333,240

In [6]:
df_tournament.iloc[:6,:6]

,mctsstrategies10000(mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy),mctsstrategy10000(mobility_strategy_vs),mctsstrategy10000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy),mctsstrategies10000(random_strategy:mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy:greedyothello_strategy:evaluateothello_strategy),mcts10000
mctsstrategies10000(mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy),5-0-5,6-1-3,5-0-5,7-0-3,9-1-0,9-0-1
mctsstrategy10000(mobility_strategy_vs),4-1-5,4-0-6,5-0-5,8-1-1,8-0-2,9-0-1
mctsstrategy10000(mapbaseothello_strategy),6-0-4,6-0-4,5-0-5,4-1-5,7-1-2,7-0-3
mctsstrategy10000(mobility_strategy),4-0-6,3-0-7,3-0-7,3-1-6,6-0-4,9-0-1
mctsstrategies10000(random_strategy:mobility_strategy_vs:mobility_strategy:mapbaseothello_strategy:greedyothello_strategy:evaluateothello_strategy),2-0-8,3-0-7,3-1-6,5-0-5,5-0-5,10-0-0
mcts10000,1-0-9,1-0-9,1-0-9,0-0-10,3-0-7,4-0-6

In [7]:
writer = pd.ExcelWriter(XLSX_FILE_NAME, engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()

In [5]:
df_tmp = df["no_moves_p1"].apply(lambda x : int(x)>0)
invalid_indexies = df_tmp[df_tmp==False].index
invalid_indexies

Int64Index([4579, 4581, 4582, 4583, 4585, 4586, 4589, 4590, 4591, 4592,
            ...
            5364, 5365, 5366, 5367, 5370, 5371, 5372, 5373, 5376, 5379],
           dtype='int64', length=600)

In [8]:
df.iloc[4579]

index                                                               4579
game_type                                                        othello
player1                                           greedyothello_strategy
player2                       mctsstrategy10000(mapbaseothello_strategy)
winner                                                                 2
seed                                                            22020111
game_time                                                      41.042764
other                  ((18, 46), (0, 13), (13, 0), ([], [2, 2, 3, 2,...
score_result                                                      18: 46
no_moves_p1                                                            0
no_moves_p2                                                           13
no_blocked_moves_p1                                                   13
no_blocked_moves_p2                                                    0
move_income_p1
move_income_p2                     2, 2, 3, 2, 3, 8, 8, 2, 4, 9, 7, 2, 2
board_scores           1, 3, 3, 5, 5, -1, -9, -11, -13, -24, -29, -29...
switching_stats_p1                                                  None
switching_stats_p2                                                  None
Name: 4579, dtype: object