### Results  - Othello

In [1]:
from data_processing import *

In [2]:
SEPARATHOR = ','
# FILE_PATH = '../all_results_othello_pc.csv'
FILE_PATH = '../finished_tests/prarameters_tests/hex_othello_results_param_test.csv'

In [3]:
df = read_data_of_game(FILE_PATH, SEPARATHOR, 'othello')
result_df = check_data_and_create_result_df(df)
df_tournament = create_tournament_df(df, list(result_df.index))

In [4]:
df.sample(3)

,game_type,player1,player2,winner,seed,game_time
8303,othello,mctsstrategy2000(mobility_strategy),mcts1000,1,22025003,8909.668318
5769,othello,mctsstrategy10000(greedyothello_strategy),mcts10000,1,22025004,6598.853591
6518,othello,mctsstrategy2000(mobility_strategy_vs),mctsstrategy5000(mapbaseothello_strategy),2,22025001,21079.036608

In [5]:
result_df[:6]

,wins,draws,defeats,avg game time,score,win%,draws%,defeats%,no games
mctsstrategy10000(mapbaseothello_strategy),371,0,49,16822.72,371.0,88.333333,0.000000,11.666667,420
mctsstrategy5000(mapbaseothello_strategy),358,0,62,15024.42,358.0,85.238095,0.000000,14.761905,420
mctsstrategy10000(mobility_strategy_vs),345,1,74,104937.04,345.5,82.142857,0.238095,17.619048,420
mctsstrategy2000(mapbaseothello_strategy),345,0,75,14375.57,345.0,82.142857,0.000000,17.857143,420
mctsstrategy10000(mobility_strategy),337,0,83,60811.80,337.0,80.238095,0.000000,19.761905,420
mctsstrategy5000(mobility_strategy_vs),335,0,85,50690.01,335.0,79.761905,0.000000,20.238095,420

In [6]:
df_tournament.iloc[:6,:6]

,mctsstrategy10000(mapbaseothello_strategy),mctsstrategy5000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy_vs),mctsstrategy2000(mapbaseothello_strategy),mctsstrategy10000(mobility_strategy),mctsstrategy5000(mobility_strategy_vs)
mctsstrategy10000(mapbaseothello_strategy),4-0-1,3-0-2,4-0-1,4-0-1,2-0-3,4-0-1
mctsstrategy5000(mapbaseothello_strategy),2-0-3,4-0-1,2-0-3,2-0-3,2-0-3,3-0-2
mctsstrategy10000(mobility_strategy_vs),2-0-3,2-0-3,5-0-0,3-0-2,3-0-2,3-0-2
mctsstrategy2000(mapbaseothello_strategy),1-0-4,0-0-5,4-0-1,2-0-3,3-0-2,2-0-3
mctsstrategy10000(mobility_strategy),1-0-4,1-0-4,3-0-2,1-0-4,3-0-2,2-0-3
mctsstrategy5000(mobility_strategy_vs),2-0-3,2-0-3,4-0-1,3-0-2,2-0-3,2-0-3

In [7]:
writer = pd.ExcelWriter('othello_results.xlsx', engine='xlsxwriter')
result_df.to_excel(writer, sheet_name='result_df')
df_tournament.to_excel(writer, sheet_name='df_tournament')
writer.save()