# Algorithms statistics

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from glob import glob
import os

In [14]:
SEPARATHOR = ','
FILE_PATH = '../tests/all_results.csv'

In [15]:
df = pd.read_csv(FILE_PATH, sep=SEPARATHOR)

In [17]:
df.sample(3)

  game_type     player1     player2  winner      seed
4   othello        mcts        mcts       1  22021074
7   othello  mapbaseheu  mapbaseheu       1  22021072
1   othello        mcts        mcts       2  22021071